# Server
PORT=3000
NODE_ENV=production
TZ=Asia/Jakarta

# DB
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=yt_multiloop
DB_USER=root
DB_PASS=

# FFmpeg (biarkan default jika sudah ada di PATH)
FFMPEG_PATH=ffmpeg

# Default Encoding
DEFAULT_VIDEO_BITRATE=3500k
DEFAULT_AUDIO_BITRATE=160k
DEFAULT_RESOLUTION=1280x720
DEFAULT_FRAMERATE=30

# CORS untuk Socket.IO/Fetch (ubah ke domainmu di produksi)
ALLOWED_ORIGIN=https://pansa.my.id
